.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
  background-color: #f8f8f8;
  font-family: 'PT Serif', serif;
  font-style: normal;
}

img {
  display: block;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

svg {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.bro {
  border: 1px solid orange;
}

.brg {
  border: 1px solid green;
}

.nav__link.active {
  color: #0055f8;
}

.accent {
  color: #0055f8;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 15px;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.qwe {
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .qwe {
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .qwe {
    width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.is-hidden {
  display: none;
}

.logo {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #0055f8;
}

@media screen and (max-width: 1199px) {
  .logo {
    font-size: 30px;
    line-height: 1;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 40px;
    line-height: 0.75;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 30px;
}

@media screen and (max-width: 1199px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

.header__container {
  position: relative;
}

@media screen and (min-width: 345px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
}

.header svg {
  background: #ffffff;
  border-radius: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header svg:hover, .header svg:focus {
  fill: rgba(219, 51, 0, 0.616);
}

@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 393px;
    left: 0;
    top: 101%;
    padding: 60px 0;
    background: #ffffff;
    z-index: 2;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.header__nav.is-open {
  display: block;
}

.menu-button {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 345px) {
  .menu-button {
    margin-top: 20px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open .icon-menu-open {
  display: none;
}

.menu-button.is-open .icon-menu-close {
  display: block;
}

.menu-button .icon-menu-open {
  display: block;
}

.menu-button .icon-menu-close {
  display: none;
}

.nav__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  color: #000000;
}

@media screen and (min-width: 767px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .nav__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: rgba(219, 51, 0, 0.616);
}

@media screen and (max-width: 1199px) {
  .hero__section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .hero__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hero__img {
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .hero__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (max-width: 767px) {
  .hero__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}

.hero__title {
  font-weight: 700;
  margin-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 60px;
    line-height: 1.08;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 40px;
    line-height: 1;
  }
}

.hero__decription {
  margin-bottom: 30px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1199px) {
  .hero__decription {
    font-size: 18px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1200px) {
  .hero__decription {
    font-size: 24px;
    line-height: 1.25;
  }
}

.hero__link {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.45;
  color: #0055f8;
  border: 3px solid #0055f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 500px;
}

@media screen and (max-width: 1199px) {
  .hero__link {
    display: block;
    max-width: 265px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .hero__link {
    display: inline-block;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.hero__btn {
  padding-left: 63px;
  padding-right: 63px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.45;
  color: #ffffff;
  border: none;
  background: #0055f8;
  border-radius: 500px;
}

@media screen and (max-width: 1199px) {
  .hero__btn {
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    margin-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__item {
  max-width: calc(50% - 15px);
}

.hero__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.hero__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero__item > svg {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__item > svg {
    margin-bottom: 20px;
  }
}

.hero__summary {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1199px) {
  .hero__summary {
    font-size: 13px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .hero__summary {
    font-size: 18px;
    line-height: 1.11;
  }
}

@media screen and (max-width: 1199px) {
  .hero-btn__wrapper {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-btn__wrapper {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 450px) {
  .picture__photo {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .project__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.project__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .project__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .project__item {
    width: calc(50% - 10px);
  }
  .project__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 25px;
  }
  .project__item:not(:nth-child(2n)) {
    margin-right: 20px;
  }
}

.project__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 349px) {
  .project__item-left {
    min-width: 60px;
  }
}

@media screen and (min-width: 350px) and (max-width: 1199px) {
  .project__item-left {
    min-width: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item-left {
    min-width: 200px;
  }
}

@media screen and (max-width: 349px) {
  .project__item-right {
    padding: 10px 8px 10px 14px;
  }
}

@media screen and (min-width: 350px) and (max-width: 1199px) {
  .project__item-right {
    padding: 20px 16px 20px 20px;
  }
}

@media screen and (min-width: 1200px) {
  .project__item-right {
    padding: 30px 24px 30px 33px;
  }
}

.project__subject {
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  .project__subject {
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) {
  .project__subject {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.project__decription {
  margin-bottom: 10px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 1199px) {
  .project__decription {
    font-size: 14px;
    line-height: 1.07;
  }
}

@media screen and (min-width: 1200px) {
  .project__decription {
    font-size: 16px;
    line-height: 1.25;
  }
}

.project__price {
  font-weight: 700;
  color: #0055f8;
}

@media screen and (max-width: 1199px) {
  .project__price {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1200px) {
  .project__price {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1;
  }
}

.project__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47px;
  height: 47px;
  margin-right: 16px;
  background: #0055f8;
  border-radius: 10px;
}

.project__icon--mod {
  margin-top: -3px;
  margin-bottom: -3px;
  margin-left: -3px;
  margin-right: 20px;
}

.project__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  color: #ffffff;
}

.project__btn--btn {
  background: rgba(0, 85, 248, 0.8);
  padding-right: 42px;
}

@media screen and (max-width: 1199px) {
  .project__btn--btn {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .project__btn--btn {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 29px;
  }
}

.project__btn--link {
  cursor: pointer;
  padding-right: 10px;
  font-weight: 700;
  color: #0055f8;
  background-color: #ffffff;
  border: 3px solid rgba(0, 85, 248, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

@media screen and (max-width: 1199px) {
  .project__btn--link {
    max-width: 200px;
    font-size: 14px;
    line-height: 1.05;
  }
}

@media screen and (min-width: 1200px) {
  .project__btn--link {
    max-width: 270px;
    font-size: 20px;
    line-height: 1.45;
  }
}

.advantages__section {
  background-image: url("../images/advantages/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.advantages__container {
  padding-top: 76px;
}

@media screen and (min-width: 768px) {
  .advantages__container {
    min-height: 1138px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .advantages__img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.advantages__photo {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .advantages__photo {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .advantages__photo {
    position: absolute;
    top: 50%;
    left: 54%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    max-width: 366px;
    position: absolute;
  }
  .advantages__item:nth-child(1) {
    right: 40px;
    top: 200px;
  }
  .advantages__item:nth-child(2) {
    left: 40px;
    top: 285px;
  }
  .advantages__item:nth-child(3) {
    left: 40px;
    bottom: 200px;
  }
  .advantages__item:nth-child(4) {
    right: 40px;
    bottom: 230px;
  }
}

.advantages__subject {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #0055f8;
}

.advantages__decription {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: rgba(0, 0, 0, 0.4);
}

.somethink__section {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1199px) {
  .somethink__wrapper {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .somethink__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
  }
}

.somethink__title {
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  .somethink__title {
    margin-bottom: 17px;
    font-size: 35px;
    line-height: 1;
  }
}

@media screen and (min-width: 1200px) {
  .somethink__title {
    margin-right: 126px;
    display: block;
    min-width: 390px;
    font-size: 35px;
    line-height: 1.12;
  }
}

.somethink__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .somethink__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.somethink__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 85, 248, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 85, 248, 0.1);
  border-radius: 10px;
}

@media screen and (max-width: 1199px) {
  .somethink__item {
    padding-top: 20px;
    padding-right: 8px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: calc(50% - 5px);
  }
  .somethink__item:not(:nth-child(2n)) {
    margin-right: 10px;
  }
  .somethink__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .somethink__item {
    padding-top: 32px;
    padding-right: 34px;
    padding-bottom: 32px;
    padding-left: 34px;
  }
  .somethink__item:not(:last-child) {
    margin-right: 20px;
  }
}

.somethink__decription {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;
  color: rgba(0, 0, 0, 0.4);
}

.question__title {
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  .question__title {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 1;
  }
}

@media screen and (min-width: 1200px) {
  .question__title {
    margin-bottom: 30px;
    font-size: 40px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .question__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .question__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .question__item {
    width: calc(50% - 10px);
  }
  .question__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 20px;
  }
  .question__item:not(:nth-child(2n)) {
    margin-right: 20px;
  }
}

.question__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 90px;
  padding: 25px;
  border: none;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 85, 248, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 85, 248, 0.1);
  border-radius: 10px;
}

.question__subject {
  display: block;
  font-weight: 700;
}

@media screen and (max-width: 1199px) {
  .question__subject {
    font-size: 20px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1200px) {
  .question__subject {
    font-size: 28px;
    line-height: 1.07;
  }
}

.question__decription {
  display: none;
  padding-top: 34px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 34px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  background: #ffffff;
  border-radius: 10px;
}

@media screen and (max-width: 1199px) {
  .question__decription {
    font-size: 15px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1200px) {
  .question__decription {
    font-size: 18px;
    line-height: 1.39;
  }
}

.question__item.isOpen .question__decription {
  display: block;
}

.question__item.isOpen .icon-question-open {
  display: block;
}

.question__item .icon-question-open {
  display: none;
}

.question__item.isOpen .icon-question-close {
  display: none;
}

.question__item.isOpen .icon-question-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .order__section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .order__section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.order__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.67;
  color: #0055f8;
  text-shadow: 0px 4px 50px rgba(0, 85, 248, 0.5);
  font-size: 40px;
  line-height: 1.25;
}

.footer {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 420px) {
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer__item {
  font-weight: 400;
}

@media screen and (max-width: 1199px) {
  .footer__item {
    font-size: 18px;
    line-height: 1.67;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item {
    font-size: 24px;
    line-height: 1.25;
  }
}

.footer__item:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 5px;
}

.modal {
  position: relative;
  width: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .modal {
    padding-top: 85px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 1160px;
    padding-top: 92px;
    padding-bottom: 76px;
    padding-left: 100px;
    padding-right: 112px;
  }
}

.modal-form-close__btn {
  position: absolute;
  top: 43px;
  right: 30px;
  background-color: transparent;
  border: none;
}

.modal-form__input {
  display: block;
  width: 100%;
  font-weight: 400;
  border: none;
  background: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 767px) {
  .modal-form__input:not(:last-child) {
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 768px) {
  .modal-form__input:not(:last-child) {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.11;
  }
}

@media screen and (max-width: 767px) {
  .modal-form__input {
    padding-right: 34px;
    padding-left: 34px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form__input {
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 18px;
    padding-top: 18px;
  }
}

.modal-form__title {
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .modal-form__title {
    font-size: 25px;
    line-height: 0.8;
    position: absolute;
    top: 40px;
    left: 30px;
  }
}

@media screen and (max-width: 420px) {
  .modal-form__title {
    width: 150px;
  }
}

@media screen and (max-width: 320px) {
  .modal-form__title {
    font-size: 20px;
    line-height: 0.8;
  }
}

@media screen and (min-width: 768px) {
  .modal-form__title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 0.6;
  }
}

.modal-form-quantity__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 419px) {
  .modal-form-quantity__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 420px) {
  .modal-form-quantity__wrapper {
    margin-bottom: 20px;
  }
}

.modal-form-quantity__wrapper--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 420px) {
  .modal-form-quantity__wrapper--left {
    margin-bottom: 10px;
  }
}

.modal-form-quantity__wrapper--left > input {
  border: none;
}

@media screen and (max-width: 767px) {
  .modal-form-quantity__wrapper--left > input {
    width: 55px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form-quantity__wrapper--left > input {
    width: 60px;
  }
}

.modal-form-quantity__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

@media screen and (max-width: 767px) {
  .modal-form-quantity__btn {
    width: 55px;
    height: 55px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form-quantity__btn {
    width: 60px;
    height: 60px;
  }
}

.modal-form-quantity__btn > svg {
  fill: #000000;
}

.btn-modal-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #ffffff;
  border: none;
  background-color: #0055f8;
}

@media screen and (max-width: 767px) {
  .btn-modal-form__btn {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .btn-modal-form__btn {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */