*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
  background-color: #f8f8f8;
  font-family: 'PT Serif', serif;
  font-style: normal;
}

img {
  display: block;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

svg {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  // text-decoration: underline;
}

.bro {
  border: 1px solid orange;
}

.brg {
  border: 1px solid green;
}

.nav__link.active {
  color: $accent-color;
}
.accent {
  color: $accent-color;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 15px;
}

.container {
  margin: 0 auto;
  // width: 400px;
  @media screen and (max-width: 1199px) {
    // width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
.qwe {
  margin: 0 auto;
  // width: 400px;
  @media screen and (max-width: 1199px) {
    // width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }
  @media screen and (min-width: 1200px) {
    width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.is-hidden {
  display: none;
}
