$main-font: "Open Sans", sans-serif;
$logo-font: "Raleway", sans-serif;
$primary-title-color: #212121;
$primary-white-color: #ffffff;
$description-color: #757575;
$accent-color: #18a0fb;
$accent-form-color: #2196f3;
$transparent-white: rgba(255, 255, 255, 0.6);
$social: #afb1b8;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
